*{
    margin: 0;
    padding: 0;
}

body{}

header{
    width: 100%;
    height: 150px;
    background-color: green;

    
}
header div{
    float: left;
    margin-top: 10px;
}
.a{
    width: 15%;
}
.b{
    width: 65%;
    text-align: right;
    font-weight: lighter;
}
.c{
    width: 20%;
    
}
header div button{
    background-image: url(../img/exit.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 128, 0);
    border: 0;
    width: 50px;
    height: 50px;
   
    
    
    
}
header div h3{
    font-size: 18px;
    color: white;
    padding-top: 5px;
    font-weight: lighter;
}
header div p{
    color: white;

}
header div img{
    width: 50px;
    height: 50px;
    padding-left: 5px;    
}

section{
    width: 100%;
    height: 615px;
    
}
section .top{
    width: 100%;
    height: 307.5px;
    padding-left: 100px;
    padding-top: 50px;
    background-color: green;
    
}
section .top img{
    width: 200px;
    height: 247.5px;
    /* background-color: rgb(255, 255, 255); */
   
}
section .bottom{
    width: 100%;
    height: 307.5px;
    padding-left: 120px;
    padding-top: 90px;
}


footer{
     width: 100%;
    height: 150px;
    /* background-color: red; */
}
footer nav{

}
footer nav button{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 55px;
    background-color: white;

}

footer nav .aa{
    background-image: url(../img/3-line.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    margin-left: 40px;
}
footer nav .bb{
    background-image: url(../img/voice.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
footer nav .cc{
    background-image: url(../img/satistik.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
footer nav .dd{
    background-image: url(../img/like.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
footer nav .ee{
    background-image: url(../img/dowlaund.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}